    /* Floats */

.left {float: left;}
.right {float: right;}

.clear,.clearer {clear: both;}
.clearer {
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
}


/*
    Example specifics
------------------------------------------------------------------- */

/* Layout */

#center-wrapper {
    margin: 0 auto;
    /*width: 920px;*/
    width: 100%;
}


/* Columns */

/*.column {
    margin-left: 2%;
    width: 32%;
}
.column.first {margin-left: 0;}*/


/* Sortable items */

.sortable-list {
    background-color: #fff;
    list-style: none;
    /*margin: 0;*/
    margin-top:20px;
    min-height: 300px;
    padding: 10px 10px 0px 10px;
    /*padding-top:10px;*/
    border:5px dashed #eee;
}
.sortable-item {
    background-color: #FFF;

   /*border: 1px dotted #000;*/
    cursor: move;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px 5px;
    /*text-align: center;*/
}

.sortable-item:hover{
background: #E7E7E7;
}

/* Containment area */

#containment {
    background-color: #FFA;
    height: 230px;
}


/* Item placeholder (visual helper) */

.placeholder {
    background-color: #BFB;
    border: 1px dashed #666;
    height: 58px;
    margin-bottom: 5px;
}